.CardListSection {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (min-width: 600px) {
    .CardListSection {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }
}
