.CardListSection {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (min-width: 600px) {
    .CardListSection {
        width: 95%;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .CardListsrhink {
        width: 88%;
        transition: width 0.4s ease-out;
        will-change: width;
    }
}
