.SearchInput {
  text-align: center;
  margin-bottom: 0.2em;
  & input {
      width: 85%;
      height: 90%;
      margin: 0 auto;
      padding: 6px;
      border: none;
      border-bottom: 2px solid #5b2a6f;
      // border-radius: 10px;
      color: #fcf6ff;
      background: #101010;
      transition: box-shadow 0.4s ease, border 0.4s ease-in;
      will-change: box-shadow , border;
      &:focus {
          transition: box-shadow 0.4s ease, border 0.4s ease-out;
          will-change: box-shadow , border;
          outline: none !important;
          box-shadow: 0 1px 5px 0 #5b2a6f;
          border: none;
      }
  }
}


@media (min-width: 600px) {
  .SearchInput {
    width: 30em;
    & input {
      font-size: 1rem;
    }
  }
}