.Search {
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: capitalize;
    &__Title {
        padding: 0.5em 2.6em;
    }
    &__results {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &_flexbox {
            width: 79%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            will-change: flex-wrap;
        }
    }
}

@media (min-width: 600px) {
    .Search {
        &__results {
            &_flexbox {
                width: 100%;
                margin: auto;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
